<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://kit.fontawesome.com/101ed50fce.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EJS It's in the Game</title>
    </head>

    <header>
        <nav class="topNav">
            <div class="homeMobile">
                <a href="/">Home</a>
            </div>
            <div class="navBucket mobileOnly">
                <button class="bucketButton">|||
                    <i></i>
                </button>
                    <div class="bucketItems">
                        <a href="/">Home</a>
                        <a href="/test">Test Page 1</a>
                        <a href="/test">Test Page 2</a>
                        <a href="/test">Test Page 3</a>
                        <a href="/test">Test Page 4</a>
                        <a href="/about">About</a>
                        <a href="/contact">Contact</a>
                    </div>
            </div>
            <div class="navBucket">
                <button class="bucketButton">Test
                    <i class="fa fa-caret-down"></i>
                </button>
                    <div class="bucketItems">
                        <a href="/test">Test Page 1</a>
                        <a href="/test">Test Page 2</a>
                        <a href="/test">Test Page 3</a>
                        <a href="/test">Test Page 4</a>
                    </div>
            </div>
            <div class="navBucket">
                <button class="bucketButton">About
                    <i></i>
                </button>
                <div class="bucketItems">
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
            <div class="title">
                <p>Game Backlog</p>
            </div>
        </nav>
    </header>

    <body>
        <main>
            <section>
                <section id="allSubmit">
                    <h3>Add a new game</h3>
                    <form action="addGame" method="POST">
                        <label for="player">Player</label>
                            <select id="player" name="player">
                                <option value="">Choose a Player</option>
                                <option value="Tom">Tom</option>
                                <option value="Stephen">Stephen</option>
                                <option value="Sean">Sean</option>
                            </select>
                        <label for="platform">Platform</label>
                            <select id="platform" name="platform">
                                <option value="">Choose a Platform</option>
                                <option value="Xbox">Xbox</option>
                                <option value="PSN">Playstation</option>
                                <option value="Switch">Switch</option>
                                <option value="NES">NES</option>
                                <option value="SNES">SNES</option>
                                <option value="N64">N64</option>
                                <option value="GCN">Gamecube</option>
                                <option value="Wii">Wii</option>
                                <option value="WiiU">Wii U</option>
                                <option value="GameBoy">GameBoy</option>
                                <option value="GBC">GameBoy Color</option>
                                <option value="GBA">GBA</option>
                                <option value="DS">DS</option>
                                <option value="3DS">3DS</option>
                                <option value="Genesis">Sega Genesis</option>
                                <option value="GameGear">Sega GameGear</option>
                                <option value="Saturn">Sega Saturn</option>
                                <option value="Dreamcast">Dreamcast</option>
                            </select>
                            <input type="text" placeholder="Game" name="name">
                        <button type="submit">Submit</button>
                    </form>
                </section>

            <section id="allBacklog">
                <section id="tomContainerBacklog">
                    <h2>Tom Backlog</h2>
                    <ul>
                        <% for (let i=0; i < master.length; i++ ) { %>
                            <div class ='tomList'>
                                <% if (master[i].player == 'Tom' && master[i].complete == false) { %>
                                <li class="tomList">
                                <span id="player" hidden="true"><%= master[i].player %></span>
                                <span id="name"><%= master[i].name %></span>
                                <span id="platformHidden" hidden="true"><%= master[i].platform %></span>
                                <span id="platform"><% if (master[i].platform == 'Xbox') { %>
                                    <span><img src="/style/images/Xbox.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'PSN' ) { %> 
                                    <span><img src="/style/images/PSN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Switch' ) { %> 
                                    <span><img src="/style/images/Switch.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'NES' ) { %> 
                                    <span><img src="/style/images/NES.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'SNES' ) { %> 
                                    <span><img src="/style/images/SNES.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'N64' ) { %> 
                                    <span><img src="/style/images/N64.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GCN' ) { %> 
                                    <span><img src="/style/images/GCN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Wii' ) { %> 
                                    <span><img src="/style/images/Wii.png" height="5%" width="5%"></span>
                                <% } else if (master[i].platform == 'WiiU' ) { %> 
                                    <span><img src="/style/images/WiiU.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameBoy' ) { %> 
                                    <span><img src="/style/images/GameBoy.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBC' ) { %> 
                                    <span><img src="/style/images/GBC.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBA' ) { %> 
                                    <span><img src="/style/images/GBA.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'DS' ) { %> 
                                    <span><img src="/style/images/DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == '3DS' ) { %> 
                                    <span><img src="/style/images/3DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Genesis' ) { %> 
                                    <span><img src="/style/images/Genesis.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameGear' ) { %> 
                                    <span><img src="/style/images/GameGear.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'Saturn' ) { %> 
                                    <span><img src="/style/images/Saturn.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Dreamcast' ) { %> 
                                    <span><img src="/style/images/Dreamcast.png" height="15%" width="15%"></span>
                                <% } %></span>
                                <span id="complete" hidden="true"><%= master[i].complete %></span>
                                <span id='trash' class='fa fa-trash'></span>
                                <span id='finish'><i class="fa-solid fa-flag-checkered"></i></span>
                            </li>
                        <% } %>
                      <% } %>
                        </div>
                    </ul>
                </section>
                <section id="stephenContainerBacklog">
                    <h2>Stephen Backlog</h2>
                    <ul>
                        <% for (let i=0; i < master.length; i++ ) { %>
                            <div class ='stephenList'>
                                <% if (master[i].player == 'Stephen' && master[i].complete == false) { %>
                                <li class='stephenList'>
                                <span id="player" hidden="true"><%= master[i].player %></span>
                                <span id="name" ><%= master[i].name %></span>
                                <span id="platformHidden" hidden="true"><%= master[i].platform %></span>
                                <span id="platform"><% if (master[i].platform == 'Xbox') { %>
                                    <span><img src="/style/images/Xbox.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'PSN' ) { %> 
                                    <span><img src="/style/images/PSN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Switch' ) { %> 
                                    <span><img src="/style/images/Switch.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'NES' ) { %> 
                                    <span><img src="/style/images/NES.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'SNES' ) { %> 
                                    <span><img src="/style/images/SNES.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'N64' ) { %> 
                                    <span><img src="/style/images/N64.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GCN' ) { %> 
                                    <span><img src="/style/images/GCN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Wii' ) { %> 
                                    <span><img src="/style/images/Wii.png" height="5%" width="5%"></span>
                                <% } else if (master[i].platform == 'WiiU' ) { %> 
                                    <span><img src="/style/images/WiiU.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameBoy' ) { %> 
                                    <span><img src="/style/images/GameBoy.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBC' ) { %> 
                                    <span><img src="/style/images/GBC.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBA' ) { %> 
                                    <span><img src="/style/images/GBA.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'DS' ) { %> 
                                    <span><img src="/style/images/DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == '3DS' ) { %> 
                                    <span><img src="/style/images/3DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Genesis' ) { %> 
                                    <span><img src="/style/images/Genesis.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameGear' ) { %> 
                                    <span><img src="/style/images/GameGear.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'Saturn' ) { %> 
                                    <span><img src="/style/images/Saturn.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Dreamcast' ) { %> 
                                    <span><img src="/style/images/Dreamcast.png" height="15%" width="15%"></span>
                                <% } %></span>
                                <span id="complete" hidden="true"><%= master[i].complete %></span>
                                <span id='trash' class='fa fa-trash'></span>
                                <span id='finish'><i class="fa-solid fa-flag-checkered"></i></span>
                            </li>
                        <% } %>
                      <% } %>
                        </div>
                    </ul>
                </section>
                <section id="seanContainerBacklog">
                    <h2>Sean Backlog</h2>
                    <ul>
                        <% for (let i=0; i < master.length; i++ ) { %>
                            <div class ='seanList'>
                                <% if (master[i].player == 'Sean' && master[i].complete == false) { %>
                                <li class="seanList">
                                <span id="player" hidden="true"><%= master[i].player %></span>
                                <span id="name"><%= master[i].name %></span>
                                <span id="platformHidden" hidden="true"><%= master[i].platform %></span>
                                <span id="platform"><% if (master[i].platform == 'Xbox') { %>
                                    <span><img src="/style/images/Xbox.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'PSN' ) { %> 
                                    <span><img src="/style/images/PSN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Switch' ) { %> 
                                    <span><img src="/style/images/Switch.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'NES' ) { %> 
                                    <span><img src="/style/images/NES.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'SNES' ) { %> 
                                    <span><img src="/style/images/SNES.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'N64' ) { %> 
                                    <span><img src="/style/images/N64.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GCN' ) { %> 
                                    <span><img src="/style/images/GCN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Wii' ) { %> 
                                    <span><img src="/style/images/Wii.png" height="5%" width="5%"></span>
                                <% } else if (master[i].platform == 'WiiU' ) { %> 
                                    <span><img src="/style/images/WiiU.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameBoy' ) { %> 
                                    <span><img src="/style/images/GameBoy.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBC' ) { %> 
                                    <span><img src="/style/images/GBC.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBA' ) { %> 
                                    <span><img src="/style/images/GBA.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'DS' ) { %> 
                                    <span><img src="/style/images/DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == '3DS' ) { %> 
                                    <span><img src="/style/images/3DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Genesis' ) { %> 
                                    <span><img src="/style/images/Genesis.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameGear' ) { %> 
                                    <span><img src="/style/images/GameGear.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'Saturn' ) { %> 
                                    <span><img src="/style/images/Saturn.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Dreamcast' ) { %> 
                                    <span><img src="/style/images/Dreamcast.png" height="15%" width="15%"></span>
                                <% } %></span>
                                <span id="complete" hidden="true"><%= master[i].complete %></span>
                                <span id='trash' class='fa fa-trash'></span>
                                <span id='finish'><i class="fa-solid fa-flag-checkered"></i></span>
                            </li>
                        <% } %>
                      <% } %>
                        </div>
                    </ul>
                </section>
            </section>
            <section id="allComplete">
                <section id="tomContainerComplete">
                    <h2>Tom Complete</h2>
                    <ul>
                        <% for (let i=0; i < master.length; i++ ) { %>
                            <div class ='tomCompleteList'>
                                <% if (master[i].player == 'Tom' && master[i].complete == true) { %>
                                <li class ='tomCompleteList'>
                                <span id="player" hidden="true"><%= master[i].player %></span>
                                <span id="name"><%= master[i].name %></span>
                                <span id="platform"><% if (master[i].platform == 'Xbox') { %>
                                    <span><img src="/style/images/Xbox.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'PSN' ) { %> 
                                    <span><img src="/style/images/PSN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Switch' ) { %> 
                                    <span><img src="/style/images/Switch.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'NES' ) { %> 
                                    <span><img src="/style/images/NES.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'SNES' ) { %> 
                                    <span><img src="/style/images/SNES.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'N64' ) { %> 
                                    <span><img src="/style/images/N64.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GCN' ) { %> 
                                    <span><img src="/style/images/GCN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Wii' ) { %> 
                                    <span><img src="/style/images/Wii.png" height="5%" width="5%"></span>
                                <% } else if (master[i].platform == 'WiiU' ) { %> 
                                    <span><img src="/style/images/WiiU.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameBoy' ) { %> 
                                    <span><img src="/style/images/GameBoy.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBC' ) { %> 
                                    <span><img src="/style/images/GBC.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBA' ) { %> 
                                    <span><img src="/style/images/GBA.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'DS' ) { %> 
                                    <span><img src="/style/images/DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == '3DS' ) { %> 
                                    <span><img src="/style/images/3DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Genesis' ) { %> 
                                    <span><img src="/style/images/Genesis.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameGear' ) { %> 
                                    <span><img src="/style/images/GameGear.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'Saturn' ) { %> 
                                    <span><img src="/style/images/Saturn.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Dreamcast' ) { %> 
                                    <span><img src="/style/images/Dreamcast.png" height="15%" width="15%"></span>
                                <% } %></span>
                                <span id="complete" hidden="true"><%= master[i].complete %></span>
                                <span id='trash' class='fa fa-trash'></span>
                            </li>
                        <% } %>
                      <% } %>
                        </div>
                    </ul>
                </section>
                <section id="stephenContainerComplete">
                    <h2>Stephen Complete</h2>
                    <ul>
                        <% for (let i=0; i < master.length; i++ ) { %>
                            <div class ='stephenCompleteList'>
                                <% if (master[i].player == 'Stephen' && master[i].complete == true) { %>
                                <li class ='stephenCompleteList'>
                                <span id="player" hidden="true"><%= master[i].player %></span>
                                <span id="name"><%= master[i].name %></span>
                                <span id="platform"><% if (master[i].platform == 'Xbox') { %>
                                    <span><img src="/style/images/Xbox.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'PSN' ) { %> 
                                    <span><img src="/style/images/PSN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Switch' ) { %> 
                                    <span><img src="/style/images/Switch.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'NES' ) { %> 
                                    <span><img src="/style/images/NES.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'SNES' ) { %> 
                                    <span><img src="/style/images/SNES.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'N64' ) { %> 
                                    <span><img src="/style/images/N64.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GCN' ) { %> 
                                    <span><img src="/style/images/GCN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Wii' ) { %> 
                                    <span><img src="/style/images/Wii.png" height="5%" width="5%"></span>
                                <% } else if (master[i].platform == 'WiiU' ) { %> 
                                    <span><img src="/style/images/WiiU.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameBoy' ) { %> 
                                    <span><img src="/style/images/GameBoy.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBC' ) { %> 
                                    <span><img src="/style/images/GBC.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBA' ) { %> 
                                    <span><img src="/style/images/GBA.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'DS' ) { %> 
                                    <span><img src="/style/images/DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == '3DS' ) { %> 
                                    <span><img src="/style/images/3DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Genesis' ) { %> 
                                    <span><img src="/style/images/Genesis.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameGear' ) { %> 
                                    <span><img src="/style/images/GameGear.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'Saturn' ) { %> 
                                    <span><img src="/style/images/Saturn.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Dreamcast' ) { %> 
                                    <span><img src="/style/images/Dreamcast.png" height="15%" width="15%"></span>
                                <% } %></span>
                                <span id="complete" hidden="true"><%= master[i].complete %></span>
                                <span id='trash' class='fa fa-trash'></span>
                            </li>
                        <% } %>
                      <% } %>
                        </div>
                    </ul>
                </section>
                <section id="seanContainerComplete">
                    <h2>Sean Complete</h2>
                    <ul>
                        <% for (let i=0; i < master.length; i++ ) { %>
                            <div class ='seanCompleteList'>
                                <% if (master[i].player == 'Sean' && master[i].complete == true) { %>
                                <li class ='seanCompleteList'>
                                <span id="player" hidden="true"><%= master[i].player %></span>
                                <span id="name"><%= master[i].name %></span>
                                <span id="platform"><% if (master[i].platform == 'Xbox') { %>
                                    <span><img src="/style/images/Xbox.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'PSN' ) { %> 
                                    <span><img src="/style/images/PSN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Switch' ) { %> 
                                    <span><img src="/style/images/Switch.png" height="10%" width="10%"></span>
                                <% } else if (master[i].platform == 'NES' ) { %> 
                                    <span><img src="/style/images/NES.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'SNES' ) { %> 
                                    <span><img src="/style/images/SNES.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'N64' ) { %> 
                                    <span><img src="/style/images/N64.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GCN' ) { %> 
                                    <span><img src="/style/images/GCN.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Wii' ) { %> 
                                    <span><img src="/style/images/Wii.png" height="5%" width="5%"></span>
                                <% } else if (master[i].platform == 'WiiU' ) { %> 
                                    <span><img src="/style/images/WiiU.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameBoy' ) { %> 
                                    <span><img src="/style/images/GameBoy.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBC' ) { %> 
                                    <span><img src="/style/images/GBC.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'GBA' ) { %> 
                                    <span><img src="/style/images/GBA.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'DS' ) { %> 
                                    <span><img src="/style/images/DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == '3DS' ) { %> 
                                    <span><img src="/style/images/3DS.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Genesis' ) { %> 
                                    <span><img src="/style/images/Genesis.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'GameGear' ) { %> 
                                    <span><img src="/style/images/GameGear.png" height="12%" width="12%"></span>
                                <% } else if (master[i].platform == 'Saturn' ) { %> 
                                    <span><img src="/style/images/Saturn.png" height="15%" width="15%"></span>
                                <% } else if (master[i].platform == 'Dreamcast' ) { %> 
                                    <span><img src="/style/images/Dreamcast.png" height="15%" width="15%"></span>
                                <% } %></span>
                                <span id="complete" hidden="true"><%= master[i].complete %></span>
                                <span id='trash' class='fa fa-trash'></span>
                            </li>
                        <% } %>
                    <% } %>
                        </div>
                    </ul>
                </section>
            </section>
        </main>

        <script src="js/main.js"></script>
    </body>
</html>
